body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(153, 0, 255);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    line-height: 1.5;
}

h1{
    font-size: 40pt;
    color: white;
    font-family: 'Pacifico', cursive;
    font-weight: 300;
}

h2{
    font-size: 25pt;
    color: rgb(255, 170, 208);
    letter-spacing: 1px;
}

.v2020{
    position: relative;
}

.card{
    width: 85%;
    margin: 0 auto;
}

#message2020{
    margin: 0 auto;
    width: 90%;
    position: absolute;
    top: 35%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.183);
    border-radius: 2px;
    user-select: none;
}

@media only screen and (min-width:650px){
    .card{
        width: 550px;
    }
    #message2020{
        top: 40%;
    }
}