body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(224, 177, 255);
}

h1{
    font-size: 30pt;
    color: white;
}

h2{
    font-size: 20pt;
    color: rgb(194, 29, 103);
}

.v2020{
    position: relative;
}

.card{
    width: 85%;
    margin: 0 auto;
}

#message2020{
    margin: 0 auto;
    width: 90%;
    position: absolute;
    top: 40%;
    left: 5%;
}

@media only screen and (min-width:650px){
    .card{
        width: 550px;
    }
}